<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        h1{
            color:steelblue;
        }
    </style> -->
</head>
<body>
    <center>
        <h1 style="color:blue;">This is app2_Html page</h1>
        <h1 style="color:red; text-align:center">This Is Our 2nd HTML Page</h1>
        <h1 style="color:rgb(207, 217, 24);"><marquee direction="left">This app2_html Page Is Rendering By Using Render Function</marquee></h1>
    </center>
</body>
</html>